---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import type { HomeEntry } from "@/types";
import { Image } from "astro:assets";

interface Props {
  entry: HomeEntry;
}

const { entry } = Astro.props;
const { image, imageAlt, title, content, button } = entry.data;
---

<BaseLayout>
  <!-- Banner -->
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-6">
          <!-- {
            image && (
              <div class="blur-[0px]">
                <Image
                class="mb-6 w-64"
                src={image}
                alt={imageAlt}
                width={1024}
                height={1024}
                loading="eager"
              />
              </div>
              
            )
          } -->
          <!-- <h1 set:html={markdownify(title)} class="mb-4 hover:scale-150 transition-all duration-300"
          
          
          /> -->
          <div class="md:mt-20 mx-auto">
            <div class="relative flex flex-col">
              <h1
                class="text-6xl mb-2 md:px-0 px-16 mx-auto text-center flex justify-center items-center flex-col md:flex-row"
              >
                Gospel of
                <span
                  class="font-bold md:ml-5 peer hover:scale-125 inline-block text-[#A372C3] hover:text-[#B59EF0] md:hover:-translate-y-5 md:hover:translate-x-3 hover:brightness-110 md:hover:rotate-6 transition-all"
                >
                  EMT</span
                >
                <img
                  src="/favicon/emt192.png"
                  alt="EMT Favicon"
                  class="absolute -bottom-80 transition-all peer-hover:visible peer-hover:animate-bounce invisible"
                />
              </h1>
            </div>
            <p
              set:html={markdownify(content)}
              class="mb-8 glass w-fit text-center mx-auto px-2 py-1 rounded-full"
            />
          </div>
          <!-- {
            button && (
              <Button
                label={button.label}
                link={button.link}
                newtab
                hoverInvert
                color=""
              />
            )
          } -->
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
