---
import BaseLayout from "@components/base/BaseLayout.astro";
import PageHeader from "@components/common/PageHeader.astro";
import { upperHumanize, slugify } from "@lib/textConverter";
import BlogCard from "@components/blog/Card.astro";
import type { BlogEntry } from "@/types";
import { FaRegFolder } from "react-icons/fa";

interface Props {
  taxon: string;
  entries: BlogEntry[];
}

const { taxon, entries }: Props = Astro.props;
---

<BaseLayout title={upperHumanize(taxon)}>
  <PageHeader title={taxon} />
  <section class="section-sm">
    <div class="pb-0">
      <div class="container">
        <div class="row">
          {
            entries.map((entry) => (
              <div class="py-2 md:py-2 md:col-10 ">
                {/* <BlogCard entry={entry} /> */}
                <h4 class="mb-2 font-notoLooped text-[16px]">
                  <a href={`/blog/${entry.id}`}>{entry.data.title}</a>
                </h4>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
