---
interface Props {
  label: string;
  link?: string;
  newtab?: boolean;
  type?: "primary" | "secondary" | "neobrutalism" | "invert-neobrutalism";
  color?: string;
  hoverInvert?: boolean;
  glass?: boolean;
}

const { label, link, newtab=false, type="primary", color, hoverInvert=false, glass=true }: Props = Astro.props;
---

{ glass ? (
  <a 
    href={link} 
    target=`${newtab ? "_blank" : ""}`
    class="no-underline inline-block"
  >
    <div class=`glass-t hover:bg-opacity-20 hover:backdrop-blur-none
      ${type == "primary" ? "px-4 py-2 rounded-md font-bold" : "px-2 py-0.5 rounded-sm text-txt-light dark:text-darkmode-txt-light"}`
    >
      {label}
    </div>
  </a>
) : type === "neobrutalism" ? (
  <a 
    href={link} 
    target=`${newtab ? "_blank" : ""}`
    class="no-underline inline-block hover:transform hover:-translate-y-1 hover:shadow-[4px_4px_0px_0px_theme(colors.black)] dark:hover:shadow-[4px_4px_0px_0px_theme(colors.white)] transition-all duration-200"
  >
    <div class=`px-4 py-2 rounded-md border-2 border-black dark:border-white bg-bg-p dark:bg-darkmode-bg-p
      ${color ? color : "bg-bg-t dark:bg-darkmode-bg-t"}`
    >
      <div class="font-bold text-txt-p dark:text-darkmode-txt-p">
        {label}
      </div>
    </div>
  </a>
) : type === "invert-neobrutalism" ? (
  <a 
    href={link} 
    target=`${newtab ? "_blank" : ""}`
    class="no-underline inline-block transform -translate-y-1 shadow-[4px_4px_0px_0px_theme(colors.black)] dark:shadow-[4px_4px_0px_0px_theme(colors.white)] hover:transform-none hover:shadow-none transition-all duration-200"
  >
    <div class=`px-4 py-2 rounded-md border-2 border-black dark:border-white bg-bg-p dark:bg-darkmode-bg-p
      ${color ? color : "bg-bg-t dark:bg-darkmode-bg-t"}`
    >
      <div class="font-bold text-txt-p dark:text-darkmode-txt-p">
        {label}
      </div>
    </div>
  </a>
) : (
  <a 
    href={link} 
    target=`${newtab ? "_blank" : ""}`
    class="no-underline inline-block group"
  >
  <div class=`
    ${color ? color : "bg-bg-t dark:bg-darkmode-bg-t"}
    ${type == "primary" ? "p-0.5 rounded-md" : "p-[1.5px] rounded-sm"}`
  >
    <div class=`bg-bg-p dark:bg-darkmode-bg-p
      ${type == "primary" ? "px-4 py-2 rounded-md" : "px-2 py-0.5 rounded-sm"}
      ${hoverInvert ? "group-hover:bg-opacity-0" : ""}`
    >
      <div class=`text-transparent bg-clip-text
        ${color ? color : "bg-bg-t dark:bg-darkmode-bg-t"}
        ${type == "primary" ? "font-bold" : ""}
        ${hoverInvert ? "group-hover:text-txt-p dark:group-hover:text-darkmode-txt-p" : ""}`
      >
        {label}
      </div>
    </div>
  </div>
  </a>
)}
